.DS_Store
tmp/

# Snapshots from running application.
data/**

# Depending on your application, you may want to 
# include persist.yaml in your CVS. If so,
# uncomment the following line.
# !data/persist.yaml

# Binary files from loopin-native
native/

#
# Node Stuff
#
node_modules/
npm-debug.log
